Repository mitrefireline/simfire: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  mypy: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  run_game.py: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock
  test_release: any of: **/*.py, poetry.lock
  tag: any of: **/*.py, poetry.lock, pyproject.toml

Pass CI checks
  simfire/utils/layers.py
  tests/historical_test.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Update rothermel calculation with more accurate constant
  simfire/world/rothermel.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Can now get lat_lon_box
  simfire/utils/layers.py
  tests/historical_test.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Add historical layer
  configs/historical_config.yml
  simfire/utils/config.py
  simfire/utils/layers.py
  simfire/utils/units.py
  tests/historical_test.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Attempt to fix generating cfd_wind_layer
  simfire/utils/config.py
  simfire/utils/generate_cfd_wind_layer.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Update fire start position and wind parameters in HistoricalLayer
  configs/historical_config.yml
  simfire/utils/layers.py
  tests/historical_test.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Working overlay of control lines
  configs/historical_config.yml
  simfire/game/game.py
  simfire/sim/simulation.py
  simfire/utils/config.py
  simfire/utils/generate_cfd_wind_layer.py
  simfire/utils/layers.py
  tests/historical_test.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Deploying to gh-pages from @ mitrefireline/simfire@7ee289b0b6247671376e5454eab72b71ad9ce367 🚀
  _sources/autoapi/simfire/enums/index.rst.txt
  _sources/autoapi/simfire/game/sprites/index.rst.txt
  _sources/autoapi/simfire/utils/config/index.rst.txt
  _sources/autoapi/simfire/utils/generate_cfd_wind_layer/index.rst.txt
  _sources/autoapi/simfire/utils/layers/index.rst.txt
  _sources/autoapi/simfire/utils/units/index.rst.txt
  autoapi/simfire/enums/index.html
  autoapi/simfire/game/game/index.html
  autoapi/simfire/game/managers/fire/index.html
  autoapi/simfire/game/managers/mitigation/index.html
  autoapi/simfire/game/sprites/index.html
  autoapi/simfire/sim/simulation/index.html
  autoapi/simfire/utils/config/index.html
  autoapi/simfire/utils/generate_cfd_wind_layer/index.html
  autoapi/simfire/utils/graph/index.html
  autoapi/simfire/utils/layers/index.html
  autoapi/simfire/utils/units/index.html
  autoapi/simfire/world/rothermel/index.html
  autoapi/simfire/world/wind_mechanics/cfd_wind/index.html
  autoapi/simfire/world/wind_mechanics/perlin_wind/index.html
  autoapi/simfire/world/wind_mechanics/wind_controller/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Upgrade version to 2.0.0
  CITATION.cff
  pyproject.toml
Due: tag

Update date-released date in CITATION.cff
  CITATION.cff
Due: none

Update .github/workflows/testing.yml with correct command
  .github/workflows/testing.yml
Due: none

Add geopy to pyproject.toml
  poetry.lock
  pyproject.toml
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Update sprite colors in test_sprites.py
  simfire/game/_tests/test_sprites.py
  simfire/world/_tests/test_rothermel.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Add forgotten line from previous test
  simfire/world/_tests/test_rothermel.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Refactor slope calculation in test_rothermel.py to fit updated spread
  simfire/world/_tests/test_rothermel.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Update version to 2.0.1
  CITATION.cff
  pyproject.toml
Due: tag

Change test_rothermel test to be `AlmostEqual`
  simfire/world/_tests/test_rothermel.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Update testing to fail on test failures
  .github/workflows/testing.yml
Due: none

Refactor Rothermel test to use 2 decimal places for comparison
  simfire/world/_tests/test_rothermel.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Remove default field HistoricalConfig class
  configs/historical_config.yml
  simfire/utils/config.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Fix bug in historical_test.py script.
  tests/historical_test.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Enforce consistency in historical data usage for topography and fuel types
  simfire/utils/config.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Add new time formats to handle variety in BurnMD.
  simfire/utils/layers.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Fix: incorrect start pos tuple was passed to FireConfig.
  simfire/utils/config.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag
