Repository mitrefireline/simfire: changes, and which GitLab CI jobs are due for each by the changed paths.
All: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

flake8:
  stage: Static Analysis
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run flake8 .
  needs: []

black:
  stage: Static Analysis
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run black --check ./
  needs: []

mypy:
  stage: Static Analysis
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run mypy --config-file pyproject.toml .
  needs: []

isort:
  stage: Static Analysis
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run isort --check --profile black --trailing-comma -m=3 .
  needs: []

bandit:
  stage: Security
  tags:
  - lslab2
  script:
  - poetry install --only dev
  - poetry run bandit -r .
  needs: []

run_game.py:
  stage: Tests
  tags:
  - lslab2
  script:
  - - .install_dev
    - script
  - SDL_VIDEODRIVER="dummy" poetry run python run_game.py
  needs: []

coverage:
  stage: Tests
  tags:
  - lslab2
  script:
  - poetry install --with coverage
  - SDL_VIDEODRIVER=dummy poetry run python -m coverage run -m pytest
  - SDL_VIDEODRIVER=dummy poetry run python -m coverage report -i
  - SDL_VIDEODRIVER=dummy poetry run python -m coverage xml -i
  ...

test-pages:
  script:
  - poetry install --only docs
  - poetry run sphinx-build -d docs/build/doctrees docs/source docs/build/html
  - mv docs/build/html public/
  stage: Documentation
  tags:
  - lslab2
  needs: []
  artifacts:
    expose_as: HTML Documentation
    paths:
    - public/
    expire_in: 1 week

test_release:
  stage: Release
  tags:
  - lslab2
  script:
  - poetry build
  - poetry run pip install -U dist/*.whl
  - rm -rf simfire
  - poetry run python tests/package.py
  - SDL_VIDEODRIVER=dummy poetry run python tests/sim.py
  needs: []

tag:
  stage: Release
  tags:
  - lslab2
  before_script:
  - python --version
  - curl -sSkL https://install.python-poetry.org | python -
  - export PATH=$PATH:$HOME/.local/bin
  - poetry --version
  - DEBIAN_FRONTEND=noninteractive apt update
  - DEBIAN_FRONTEND=noninteractive apt -y install php php-json git curl
  ...

Add security analysis
  .github/workflows/security.yml
Due: none

Allow pages to be run with workflow dispatch
  .github/workflows/pages.yml
Due: none

Allow publish.yml to be run with dispatch
  .github/workflows/publish.yml
Due: none

Update README.md
  README.md
Due: none

Initialize self.active to True
  simfire/sim/simulation.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Ensure consistency between YAML data and FireConfig
  simfire/utils/config.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Update test_save_spread_graph to be less restrictive
  simfire/sim/_tests/test_simulation.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Update test_simulation.py for black
  simfire/sim/_tests/test_simulation.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Add tmp_file.exists() to append in test
  simfire/sim/_tests/test_simulation.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Update test_simulation.py
  simfire/sim/_tests/test_simulation.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Ensure consistency across attribute keys for wind
  simfire/sim/simulation.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Update self.active logic introduced in 3f4c313b
  simfire/sim/simulation.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Minor refactor for resetting `self.agents`
  simfire/sim/simulation.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Fix fire status initialization in FireSimulation class
  simfire/sim/simulation.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Change pyproject.toml and CITATION.cff version to 1.5.7
  CITATION.cff
  pyproject.toml
Due: tag

Test testing.yml
  .github/workflows/testing.yml
Due: none

Try write contents
  .github/workflows/testing.yml
Due: none

Delete run_game and historical_tester
  historical_tester.py
  run_game.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Remove run_game test
  .gitlab-ci.yml
Due: none

Add github workflows
  .github/workflows/pages.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/static.yml
  .github/workflows/test-pages.yml
  .github/workflows/testing.yml
Due: none

Add supported_attributes to Simulation
  simfire/sim/simulation.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Deploying to gh-pages from @ mitrefireline/simfire@fc9ed7f55e843e242c6538f9565e7ce647a0cbeb 🚀
  _sources/autoapi/simfire/sim/simulation/index.rst.txt
  autoapi/simfire/sim/simulation/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Change pyproject.toml and CITATION.cff version to 1.5.8
  CITATION.cff
  pyproject.toml
Due: tag

Update formatting to fit black 24.3 reqs
  simfire/enums.py
  simfire/game/managers/fire.py
  simfire/utils/config.py
  simfire/utils/generate_cfd_wind_layer.py
  simfire/world/presets.py
  tests/package.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Add updates to config.py and layers.py in simfire/utils subpkg.
  simfire/utils/config.py
  simfire/utils/layers.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Deploying to gh-pages from @ mitrefireline/simfire@136623a780d411513a041188ec06fdf5ec4425f7 🚀
  _sources/autoapi/simfire/utils/layers/index.rst.txt
  autoapi/simfire/utils/layers/index.html
  searchindex.js
Due: none

Prepare for 1.5.9 tag
  CITATION.cff
  pyproject.toml
Due: tag

Add num_active_games as a class variable.
  simfire/game/game.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Fix logic when loading landfire tifs (resolves #26)
  simfire/utils/layers.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Deploying to gh-pages from @ mitrefireline/simfire@1be992494ea17c05e4b240496cfa94cd45710c24 🚀
  _sources/autoapi/simfire/game/game/index.rst.txt
  autoapi/simfire/game/game/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Update README, add HistoricalLayer import in config
  README.md
  simfire/utils/config.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Add geopandas, update formatting
  poetry.lock
  pyproject.toml
  simfire/utils/layers.py
  tests/historical_test.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

adding a color mapping for historical layer perimeters - vis only
  simfire/enums.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

including new example config for historical data
  configs/historical_config.yml
Due: none

WIP: adding historical data functionality for V&V
  simfire/utils/layers.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

WIP: adding the historical perimeters to sim visualization
  simfire/game/sprites.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Update historicalconfig loading
  configs/historical_config.yml
  simfire/utils/config.py
  simfire/utils/layers.py
  tests/historical_test.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Basic time-based mitigation overlay
  simfire/utils/layers.py
  tests/historical_test.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Update slope computation
  simfire/game/managers/fire.py
Due: flake8, black, mypy, isort, bandit, run_game.py, coverage, test-pages, test_release, tag

Path conditions:
  flake8: any of: **/*.py, poetry.lock, .flake8
  black: any of: **/*.py, poetry.lock
  mypy: any of: **/*.py, poetry.lock
  isort: any of: **/*.py, poetry.lock
  bandit: any of: **/*.py, poetry.lock
  run_game.py: any of: **/*.py, poetry.lock
  coverage: any of: **/*.py, poetry.lock
  test-pages: any of: **/*.py, docs/**/*, poetry.lock
  test_release: any of: **/*.py, poetry.lock
  tag: any of: **/*.py, poetry.lock, pyproject.toml
